@charset 'UTF-8';
/* logo */
div#logo_area{
    width: 100px;
    /*border: solid blue;*/
    /*background-color: red;*/
    float: left;
    margin-left: 10px;
    height: 80px;
}

img.logo_img {
    width:100px;
    margin-top: 5px;
}

/*About Page*/
p#about_txt{
	text-align:center;
	font-size:75%;
}
