@charset 'UTF-8';

/*body*/
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
}


.mainHeaderNavColor{
    font-family: "Crimson Text";
    font-size:1em;
}

/* logo */
div#logo_area{
    width: 100px;
    /*border: solid blue;*/
    /*background-color: red;*/
    float: left;
    margin-left: 10px;
    height: 80px;
}

img.logo_img {
    width:100px;
    margin-top: 5px;
}

/*About Page*/
p#about_txt{
	text-align:center;
	font-size:2em;
}

p.page_title{
    font-size: 30px;
    font-family: 'Crimson Text';
    color: #42210B;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 60px;
}