@charset 'UTF-8';
/* logo */
div#logo_area{
    width: 100px;
    border: solid yellow;
    float: left;
    margin-left: 10px;
    height: 78px;
}

img.logo_img {
    width:100px;
    margin: 5 0 0 0px;
}